# Main library for Google Gemini AI
google-genai

# For RSS fetching and retries
requests
feedparser
python-dateutil
tenacity

# Used for loading .env file for local development
python-dotenv

# For converting email content from Markdown to HTML
markdown
